<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On

    # Redirigir todo a index.php si no es un archivo o carpeta existente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]

    # Cacheo básico para assets estáticos
    <FilesMatch "\.(jpg|jpeg|png|gif|ico|svg|css|js|woff|woff2|ttf|eot)$">
        ExpiresActive On
        ExpiresDefault "access plus 1 month"
        Header set Cache-Control "public"
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    # Permitir headers para CSRF/XSRF de Livewire
    Header set Access-Control-Allow-Origin "*"
</IfModule>
